body{
    font-family: 'Press Start 2P', monospace;
    background-color: black;
}

p{
    margin: 0px 0px 0px 0px;
}

a{
    color: greenyellow;
    font-size: 2vmin;
}

button{
    background-color: green;
    font-family: 'Press Start 2P', monospace;
    font-size: 2vmin;
    height: 4vmin;
    width: auto;
    margin: 2vmin 1vmin 0vmin 0vmin;
}

#button-panel{
    color: greenyellow;
    font-size: 3vmin;
    text-align: left;
    height: 12vh;
}

#settings-display{
    margin: 2vmin 0vmin 0vmin 0vmin;
    padding: 0vmin 0vmin 2vmin 0vmin;
    color: greenyellow;
    font-size: 3vmin;
    text-align: left;
    height: 8vh;
}

#type-display{
    margin: 2vmin 0vmin 0vmin 0vmin;
}

#grid{
    color: white;
    padding: 2vmin 0vmin 0vmin 0vmin;
    width: 99.5vw;
    height: 73vh;
    background: url('./images/scan_grid.jpeg');
    background-position: center;
    border-style: solid;
    border-color: greenyellow;
    touch-action: none;
    text-align: center;
}

#instructions{
    font-size: 3vmin;
    margin-top: 10vh;
    color: greenyellow;
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.left{
    float: left;
}

.right{
    float: right;
}

#top-wrap{
    background: url('./images/circuit.jpeg');
}